<h1>result</h1>


{{!-- <div>{{result.price}} </div>

<div><img src="{{result.img}}" alt="{{result.title}}"></div> --}}

<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img src={{result.img}}>
            </div>
            <div class="card-content">
                {{result.title}}
            </div>
            <div class="card-content">
                {{result.price}}
            </div>

        </div>
    </div>
</div>